body {
  background-color: black;
  color: white;
}

.progress {
  background-color: white;
  width: 100%;
}
.bar {
  background-color: green;
  height: 30px;
  color: black;
  width: 1%;

}
.hidden {
  display: none;
}
