:root {
  --darker-purple: #1d0d31;
  --dark-purple: #382157;
  --purple: #9D76C1;
  --light-purple: #E5CFF7;
  --shadow: 1px 2px 2px 1px #817D84;
  --red: #1d0d31;
  --yellow: #1d0d31;
  --green: #1d0d31;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../assets/fonts/JosefinSans-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "JosefinSans";
  min-height: 100vh;
}
  color: white;
}

.progress {
  background-color: white;
  width: 100%;
}
.bar {
  background-color: green;
  height: 30px;
  color: black;
  width: 1%;

}
.hidden {
  display: none;
}
