:root {
  --darker-purple: #1d0d31;
  --dark-purple: #382157;
  --purple: #9D76C1;
  --light-purple: #E5CFF7;
  --shadow: 1px 2px 2px 1px #817D84;
  --red: #1d0d31;
  --yellow: #1d0d31;
  --green: #1d0d31;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../assets/fonts/JosefinSans-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "JosefinSans";
  min-height: 100vh;
}

#topbar {
  display: flex;
  background-color: var(--purple);
  justify-content: space-between;
  width: 100%;
}


#topbar header {
  background-color: var(--darker-purple);
  color: var(--light-purple);
  font-size: 30px;
  margin-bottom: 10px;
  padding: 15px 15px 0 15px;
  border: 2px solid var(--darker-purple);
  border-top-right-radius: 40px;
  flex-shrink: 0;
  justify-self: flex-start;
  max-width: 240px;
  width: 100%;
}

#topbar #rightSide {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

#searchBar {
  display: flex;
  align-items: center;
  min-width: 0;
}

#searchBar input {
  background-color: var(--light-purple);
  max-width: 300px;
  min-width: 0;
  min-height: 30px;
  border-radius: 20px;
  border: 1px solid var(--light-purple);
  padding-left: 10px;
  color: var(--darker-purple);
}

#icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  justify-self: flex-end;
  margin-right: 20px;
}

#profilePic {
  background-color: var(--light-purple);
  border: 1px solid var(--light-purple);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../assets/profile-picture.gif");
  background-size: cover;
}

svg {
  width: 35px;
}

#topbar svg {
  color: var(--dark-purple);
}

main {
  display: flex;
  background-color: var(--dark-purple);
  flex-grow: 2;
}

aside {
  background-color: var(--darker-purple);
  min-width: 233px;
  max-width: 233px;
  padding: 20px;
  color: var(--light-purple);
  font-size: 30px;
  border-bottom-right-radius: 40px;
}

aside ul {
  padding: 10px 0;
  margin: 10px 0;
  font-weight: bold;
}

aside ul.tree li {
  color: var(--light-purple);
  margin: 0;
  margin-left: 4px;
  padding: 3px 7px;
  line-height: 20px;
  font-weight: normal;
  border-left: 2px solid var(--purple);
}

aside ul.tree li:last-child {
  border-left:none;
}

aside ul.tree li:before {
  position: relative;
  top: -0.3em;
  height: 50px;
  width: 50px;
  color: white;
  border-bottom: 2px solid var(--purple);
  content: "";
  display: inline-block;
  left: -7px;
}

aside ul.tree li:last-child:before {
  border-left: 2px solid var(--purple);
}

aside button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 60px;
  margin: 0;
  padding: 0;
  background-color: var(--dark-purple);
  color: var(--purple);
  border: 1px solid var(--dark-purple);
  flex-shrink: 0;
  outline: none;
}

aside #sideBarProjectListContainer {
  position: relative;
}

aside #sideBarTaskListContainer {
  position: relative;
}

aside #addProjectBtn,
aside #addTaskBtn {
  position: absolute;
  left: 130px;
  transition: transform 1s;
}

aside button:hover {
  transform: rotate(360deg) scale(1.5);
}

aside #sideBarProjectList li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside .sideBarProjectLink,
aside .sideBarTodoLink {
  transition: all .5s;
}

aside .sideBarProjectLink:hover,
aside .sideBarTodoLink:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  cursor: pointer;
}


.removed {
  transform: translateX(100px) !important;
  opacity: 0;
  overflow: hidden;
}

  background-color: white;
  width: 100%;
}
.bar {
  background-color: green;
  height: 30px;
  color: black;
  width: 1%;

}
.hidden {
  display: none;
}
